@model MercDevs_ej2.Models.Diagnosticosolucion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Diagnostico-Solucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Diagnositco
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDiagnostico)
        </dd>
        <dt class = "col-sm-2">
            Solucion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionSolucion)
        </dd>
        <dt class = "col-sm-2">
            Id Ficha Tecnica
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosFichaTecnica.IdDatosFichaTecnica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDiagnosticoSolucion"><button type="button" class="btn btn-primary">Editar</button></a> |
    <a asp-action="Index"><button type="button" class="btn btn-secondary">Volver atras</button></a>
</div>
